---
interface Props {
  number: number;
  href: string;
  title?: string;
}
const { number, href, title } = Astro.props;
---
<sup>
  <a href={href} target="_blank" rel="noopener noreferrer" class="text-accent hover:text-accent-light no-underline text-xs" title={title}>[{number}]</a>
</sup>
